@model Pie_app.ViewModels.HomeViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content"> 
        <div class="row">
            @RenderBody()

        </div>
    </div>
</body>
</html>
